.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 1rem 0;
}

.logo {
  font-family: 'Manrope';
  color: var(--main_text);
  font-size: clamp(1rem, 2.2vw, 3rem);
  font-weight: 700;
}

.beta {
  font-family: 'Manrope';
  color: var(--secondary_color);
  font-size: clamp(0.7rem, 1.3vw, 2rem);
  font-weight: 200;
  padding: 0.21rem 0;
}

@media (max-width: 720px) {
  .logo {
    font-size: clamp(1rem, 5.2vw, 3rem);
  }
  .beta {
    font-size: clamp(0.7rem, 3.25vw, 2rem);
  }
}