.error {
  position: absolute;
  inset-inline: 0;
  
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  z-index: 90;

  background-color: rgba(255, 100, 100, 0.7);
  box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.25);
  color: #fff;

  opacity: 0;
  transform: translateY(0);
  visibility: hidden;
  pointer-events: none;

  transition: 
    opacity .65s ease-in-out,
    transform .65s ease-in-out,
    visibility 0s linear .65s;
}

.error.shown {
  opacity: 1;
  transform: translateY(-185%);
  visibility: visible;
  pointer-events: auto;
  transition: 
    opacity .65s ease-in-out,
    transform .65s ease-in-out,
    visibility 0s;
}