.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5rem);
  -webkit-backdrop-filter: blur(5rem);
  z-index: 101;
  overflow: hidden;
}

.modalContent {
  padding: 1.9rem;
  background: var(--modal_color);
  border-radius: 1rem;
  min-width: 31rem;
  box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.25);
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 31rem;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .modalContent {
    min-width: 95%;
  }

  .modalWrapper {
    max-width: 95%;
  }
}