.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* начальное состояние анимации */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  backdrop-filter: none;
  -webkit-backdrop-filter: none;

  transition: 
    opacity .25s ease-in-out,
    visibility 0s linear .25s,
    backdrop-filter .25s ease-in-out,
    -webkit-backdrop-filter .25s ease-in-out;

  z-index: 101;
  overflow: hidden;
  will-change: opacity, backdrop-filter, -webkit-backdrop-filter;
}

.modal.visible {
  visibility: visible;
  pointer-events: auto;
  transition:
    opacity .25s ease-in-out,
    visibility 0s,
    backdrop-filter .25s ease-in-out,
    -webkit-backdrop-filter .25s ease-in-out;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  backdrop-filter: blur(5rem);
  -webkit-backdrop-filter: blur(5rem);

  transition: 
    opacity .25s ease-in-out,
    visibility 0s,
    backdrop-filter .25s ease-in-out,
    -webkit-backdrop-filter .25s ease-in-out;
}

.modal.exiting {
  pointer-events: none; 
}

.modal.active .modalContent {
  transform: translateY(0);
  opacity: 1;
}

.modalContent {
  padding: 1.9rem;
  background: var(--modal-color);
  border-radius: 1rem;
  min-width: 31rem;
  box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.25);
  z-index: 102;

  transform: translateY(-25px);
  opacity: 0;
  transition:
    transform .25s ease-in-out,
    opacity .25s ease-in-out;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 31rem;
  border-radius: 1rem;
}

@media (max-width: 700px) {
  .modalContent {
    min-width: 95%;
  }

  .modalWrapper {
    max-width: 95%;
  }
}