.headerBackground {
  position: sticky;
  top: 0;
  height: 5rem;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 100;
  transition: all 0.1s ease-in-out;

  overflow-x: clip;
  padding: 0 2vw;
}

:root[data-scrolled='1'] .headerBackground {
  box-shadow: 0 0.25rem 0.6rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
}

.headerButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerButtonsContainer > a {
  text-decoration: none;

  font-size: clamp(0.8rem, 1rem + 0.7vw, 1.1rem);
  border-radius: 1rem;
  padding: clamp(0.8rem, 0.8vw, 0.9rem) clamp(0.8rem, 2.3vw, 2.5rem);
  margin-inline: 1vw;
  white-space: nowrap;
}

@media (max-width: 720px) {
  .headerButtonsContainer > button {
    font-size: clamp(0.7rem, 0.5rem + 1.25vw, 1.1rem);
    padding: clamp(0.7rem, 2vw, 2rem) clamp(0.7rem, 4.5vw, 2.5rem);
  }
}