.registrationInput {
  border: none;
  padding: 1.1rem;
  border-radius: 1rem;
  background-color: var(--reg-input);
  font-size: 1rem;
  font-weight: 500;

  color: var(--secondary-color);

  caret-color: var(--main-color);

  flex-grow: 1;
  width: 100%;

  transition: all 0.1s ease-in;
}

.regInputError::placeholder {
  color: var(--error-color);
}

.registrationInput:not(:placeholder-shown)[aria-invalid="false"] {
  color: green;
  box-shadow: 0 0.5rem 1rem rgba(128, 255, 128, 0.4);
}

.registrationInput[aria-invalid="true"] {
  box-shadow: 0 0.5rem 1rem var(--error-shadow);
  color: var(--error-color);
}

@media (hover: hover) {
  .registrationInput:hover {
    box-shadow: 0 0.5rem 1rem 0rem var(--reg-input-hover)
  }

  .registrationInput:focus {
    box-shadow: 0 0 1rem 0.25rem var(--reg-input-focus);
  }

  .registrationInput:focus-visible {
    outline: 1px dotted var(--reg-input-focus);
  }
}

@media (hover: none) {
  .registrationInput:focus {
    outline: none;
    box-shadow: 0 0 1rem 0.25rem var(--reg-input-focus);
  }
}