.indexCard {
  background: var(--tab-color);
  border-radius: var(--main-border-radius);
  padding: clamp(8px, 0.65vw, 16px);

  cursor: pointer;

  height: 100%;
  aspect-ratio: 1 / 1;

  transition: 
    transform 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
}

.indexCardContents {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: var(--title-font-size);
  color: var(--gray-text-color);
}

@media (hover: hover) {
  .indexCard:hover {
    transform: translateY(-0.3vh);
    box-shadow: 0 1vh 0.8rem var(--light-shadow-color);
  }

  .indexCard:focus-visible {
    outline: 0.25vh dotted var(--main-text);
  }

  .indexCard:active {
    transform: translateY(0.1vh);
    box-shadow: 0 0.5vh 0.5rem var(--light-shadow-color);
  }
}

@media (hover: none) {
  .indexCard:active {
    transform: translateY(0.1vh);
    box-shadow: 0 0.5vh 0.5rem var(--light-shadow-color);
  }
}