:root {
  --background: #FFFFFF;
  --background_shape_left: #2732FF;
  --background_shape_center: #BA28FD;
  --background_shape_right: #6A2FE0;
  --main_text: #000000;
  --secondary_color: #5E5E5E;
  --secondary_card_color: #ABABAB;
  --main_button_color: #010BC2;
  --main_button_shadow_color: rgba(71, 77, 203, 0.2);
  --green_color: #23B300;
  --red_color: #FF3D3D;
  --green_shadow_color: rgba(19, 96, 0, 0.8);
  --red_shadow_color: rgba(255, 61, 61, 0.5);
  --portfolio_card_color: rgba(0, 0, 0, 0.5);
  --modal_color: rgba(255, 255, 255, 0.4);
  --reg_input: rgba(255, 255, 255, 0.8);
  --error_color: rgba(255, 61, 61, 0.8);
  --reg_input_hover: rgba(71, 77, 203, 0.35);
  --reg_input_focus: rgba(71, 77, 203, 0.2);
  --default_shadow: rgba(0, 0, 0, 0.3);
  --error_shadow: rgba(255, 61, 61, 0.2); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --background_shape_left: #000ad0;
    --background_shape_center: #8500c3;
    --background_shape_right: #4e21a6;
    --main_text: #FFFFFF;
    --secondary_color: #918F8F;
    --main_button_color: #676FFF;
    --main_button_shadow_color: rgba(103, 111, 255, 0.2);
    --green_color: #A4FF8D;
    --red_color: #FF8D8D;
    --green_shadow_color: rgba(164, 255, 141, 0.35);
    --red_shadow_color: rgba(255, 141, 141, 0.35);
    --portfolio_card_color: rgba(155, 155, 185, 0.5);
    --modal_color: rgba(10, 10, 10, 0.5);
    --reg_input: rgba(40, 40, 40, 0.8);
    --error_color: rgba(255, 141, 141, 0.8);
    --reg_input_hover: rgba(103, 111, 255, 0.1);
    --reg_input_focus: rgba(103, 111, 255, 0.2);
    --default_shadow: rgba(255, 255, 255, 0.3);
    --error_shadow: rgba(255, 141, 141, 0.2);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope';
  letter-spacing: 1px;
}

button {
  cursor: pointer;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
}

body {
  position: relative;
  margin: 0;
  overflow: hidden;
  background-color: var(--background);
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.5' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='3' specularConstant='0.2' specularExponent='20' lighting-color='%23fffffF' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='69'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
  /* ШУМ за цвет отвечает feColorMatrix, а за интенсивность - baseFrequency*/
  /* background: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='10' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */

  opacity: 0.5; /* можно усилить или ослабить эффект */
  z-index: -10;
}

#root {
  height: 100vh;
  width: 100vw;
}