.pageContainer {
  margin: 0vh 2vw;
  min-height: 100%;
}

.hText, .pText {
  margin: 2vh 0vw;
}

.textsContainer {
  width: 90%;
}



.hText {
  font-size: clamp(2rem, 6.25vw, 8rem);
  color: var(--main_text);
  
}

.pText {
  font-weight: 200;
  font-size: clamp(1rem, 1.5vw, 1.6rem);
  color: var(--secondary_color);
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 35%;
  margin-top: 4rem;
}

.btnContainer button {
  font-size: clamp(1rem, 1.5vw, 1.6rem);
  width: calc(100%/2);
  padding: clamp(0.7rem, 0.8vw, 1.5rem) clamp(1rem, 3vw, 2rem);
  box-sizing: border-box;
  white-space: nowrap;
}

@media (max-width: 720px) {
  .btnContainer {
    max-width: 80%;
    gap: 1rem;
  }
  .btnContainer button {
    font-size: clamp(0.67rem, 3.3vw, 1.6rem);
    padding: clamp(0.7rem, 3.2vw, 1.5rem) clamp(1rem, 3vw, 2rem);
  }
}

.trybtn {
  font-weight: 400;
  border-radius: 1rem;
  border: none;
  background-color: var(--main_button_color);
  color: var(--background);

  transition: all 0.2s ease-in;
}

@media (hover: hover) {
  .trybtn:hover {
    box-shadow: 0 0.5rem 1rem var(--main_button_shadow_color);
  }

  .trybtn:active {
    opacity: 0.9;
  }
}

@media (hover: none) {
  .trybtn:active {
    box-shadow: 0 0.5rem 1rem var(--main_button_shadow_color);
  }
}

.bottomTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  margin-top: 3.5rem;
  margin-inline: 4vw;
}

.allContentContainer {
  max-width: 1600px;
}

@media (min-width: 2000px) {
  .allContentContainer {
    max-width: 85%;
  }
}

.mainContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.portfolioCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.portfolioBottomCards {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  margin-top: 1rem;
}

.card1 {
  transform: rotate(10deg);;
  z-index: 2;
}

.card2 {
  transform: translate(2.5rem, 1rem) rotate(-5deg);
}

.card3 {
  transform: rotate(8deg);
}

.signInFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textFieldContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1.5rem;
}

.textFieldContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin-bottom: 0.25rem;
}

.textFieldName {
  color: var(--secondary_color);
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0.3rem 0.6rem;
}

.switchRegTypeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.35rem;
}

.noAccountText {
  color: var(--secondary_color);
  font-size: 0.8rem;
  font-weight: 500;
}

.switchToSignUpButton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--secondary_color);
  font-weight: 700;
  text-decoration: underline;
  border-radius: 100px;

  transition: all 0.2s ease-in
}

.switchToSignUpButton:hover {
  opacity: 0.8;
}

.switchToSignUpButton:active {
  opacity: 0.7;
}

.startButton {
  color: var(--background);
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--main_button_color);
  border: none;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  margin-top: 2.2rem;

  transition: all 0.2s ease-in;
}

.signInFormContainer .startButton {
  background-color:hsla(0,0%,100%,1);
background-image:
radial-gradient(at 91% 59%, hsla(281,97%,56%,1) 0px, transparent 50%),
radial-gradient(at 68% 83%, hsla(241,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 35% 53%, hsla(281,97%,56%,1) 0px, transparent 50%),
radial-gradient(at 24% 7%, hsla(237,100%,57%,1) 0px, transparent 50%),
radial-gradient(at 6% 80%, hsla(237,100%,57%,1) 0px, transparent 50%),
radial-gradient(at 62% 23%, hsla(281,97%,56%,1) 0px, transparent 50%),
radial-gradient(at 94% 22%, hsla(242,100%,70%,1) 0px, transparent 50%);
}


.startButton:hover {
  box-shadow: 0 0.5rem 1rem 0.25rem var(--main_button_shadow_color);
}

.startButton:active {
  opacity: 0.9;
}