.pageContainerUnknown {
  margin: 0vh 2vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.goToStartPageButton {
  font-weight: 500;
  font-size: clamp(1rem, 1.5vw, 1.6rem);
  border-radius: 1rem;
  border: none;
  background-color: var(--main_button_color);
  color: var(--background);

  padding: 1.2vh 10vw;

  transition: all 0.2s ease-in;
}

@media (hover: hover) {
  .goToStartPageButton:hover {
    box-shadow: 0 0.5rem 1rem var(--main_button_shadow_color);
  }

  .goToStartPageButton:active {
    opacity: 0.9;
  }
}

@media (hover: none) {
  .goToStartPageButton:active {
    box-shadow: 0 0.5rem 1rem var(--main_button_shadow_color);
  }
}