.card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;

  transition: transform 0.2s;
}

.cardRed {
  box-shadow: 0 0 10vh 0.9rem var(--red_shadow_color);
}

.cardGreen {
  box-shadow: 0 0 10vh 0.9rem var(--green_shadow_color);
}

p {
  font-family: "Manrope";
  color: white;
  letter-spacing: 1px;
}

.mainText {
  font-weight: 300;
  font-size: clamp(0.7rem, 1.15vw, 1.4rem);
  padding: 0 0.8rem;
}

.secondaryText {
  font-weight: 300;
  font-size: clamp(0.6rem, 0.9vw, 1.1rem);
  padding: 0 0.8rem;
  color: var(--secondary_card_color);
}

.bottomPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  background-color: var(--portfolio_card_color);
  margin-top: 0.5rem;
  border-radius: 0 0 15px 15px;
  height: 12vh;
}

.textsContainer {
  margin-left: 0.8rem;
  margin-top: 0.8rem;
}

.chart {
  margin-top: 0.8rem;
  margin-right: 1.8rem;
  width: 50%;
  height: 90%;
}

.price {
  font-size: clamp(0.7rem, 1.15vw, 1.4rem);
  font-weight: 400;
}

.changeText {
  margin-top: 0.4rem;
  color: var(--secondary_color);
  font-size: clamp(0.75rem, 0.85vw, 1rem);
}

.priceChange {
  font-weight: 200;
  font-size: clamp(0.75rem, 0.9vw, 1rem);
}

.priceChangeRed {
  color: var(--red_color);
}

.priceChangeGreen {
  color: var(--green_color);
}

.topPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--portfolio_card_color);
  border-radius: 1rem 1rem 0 0;
  height: 6.5vh;
}

@media (hover: hover) {
  .card:hover {
    transform: scale(1.05);
  }
}

@media (hover: none) {
  .card:active {
    transform: none;
    box-shadow: none;
    background-color: inherit;
    color: inherit;
  }
}

@media (min-width: 1440px) and (max-width: 1899px) {
  .topPart, .bottomPart  {
    width: 19.5rem;
  }

  .bottomPart {
    height: 7rem;
  }

  .topPart {
    height: 4rem;
  }

  .mainText {
    font-size: 1.2rem;
  }

  .secondaryText {
    font-size: 0.9rem
  }

  .price {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .changeText {
    margin-top: 0.4rem;
    color: var(--secondary_color);
    font-size: 0.9rem;
  }

  .priceChange {
    font-weight: 200;
    font-size: 0.9rem;
  }
}

@media (max-width: 1439px) and (min-width: 1025px) {
  .topPart, .bottomPart  {
    width: 21vw;
  }

  .bottomPart {
    height: 7rem;
  }

  .topPart {
    height: 3.7rem;
  }

  .mainText {
    font-size: 1rem
  }

  .secondaryText {
    font-size: 0.8rem;
  }

  .price {
    font-size: 1rem;
    font-weight: 400;
  }

  .changeText {
    margin-top: 0.4rem;
    color: var(--secondary_color);
    font-size: 0.85rem;
  }

  .priceChange {
    font-weight: 200;
    font-size: 0.85rem;
  }
}

@media (max-width: 1024px) {
  .card {
    display: none;
  }
}

@media (min-width: 1900px) {
  .bottomPart {
    height: 8rem;
  }

  .topPart {
    height: 4.5rem;
  }


  .topPart, .bottomPart {
    width: 22rem;
  }

  .mainText {
    font-size: 1.3rem;
  }

  .secondaryText {
    font-size: 1rem;
  }

  .price {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .changeText {
    margin-top: 0.4rem;
    color: var(--secondary_color);
    font-size: 1rem;
  }

  .priceChange {
    font-weight: 200;
    font-size: 1rem;
  }
}