.form {
  --background: rgba(255, 255, 255, 0.5);
  --reject-button: rgba(230, 230, 230, 0.4);
  --accept-button: rgba(39, 50, 255, 0.6);

  --reject-button-hover: rgba(150, 150, 150, 1);
  --accept-button-hover: rgba(39, 50, 255, 1);

  position: fixed;
  right: max(1rem, env(safe-area-inset-right));
  bottom: max(1rem, env(safe-area-inset-bottom));
  z-index: 100;

  width: clamp(250px, 30vw, 1300px);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  background: var(--background);
  -webkit-backdrop-filter: blur(5rem);
  backdrop-filter: blur(5rem);

  color: rgb(49, 49, 49);
  line-height: 1.45;
}

.h {
  margin: 0 0 clamp(8px, 1.2vw, 12px);
  font-size: clamp(14px, 1.5vw, 30px);
  line-height: 1.05;
  letter-spacing: 0.02rem;
  font-weight: 500;
}

.p {
  margin: 0 0 clamp(16px, 2vw, 28px);
  font-size: clamp(11px, 1vw, 24px);
  line-height: 1.45;
}

.link {
  color: var(--background-shape-left);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: var(--background-shape-left);

  transition: opacity 0.15s ease-in-out;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(8px, 2.4vw, 20px);
  align-items: center;
}

.buttonReject,
.buttonAccept {
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: clamp(10px, 0.5vw, 24px) clamp(12px, 1vw, 28px);
  font-size: clamp(10px, 1vw, 25px);
  font-weight: 00;
  letter-spacing: 0.08em;
  color: #fff;
  cursor: pointer;
  transition: transform 120ms ease, background-color 120ms ease, box-shadow 120ms ease;

  transition: background-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out,
              transform 0.15s ease-in-out;
}

.buttonReject { 
  background-color: var(--reject-button);
}

.buttonAccept {
  background-color: var(--accept-button);
}

@media (hover: hover) {
  .buttonReject:focus,
  .buttonReject:hover {
    background-color: var(--reject-button-hover);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
  }

  .buttonReject:focus-visible {
    outline: 3px dotted var(--reject-button-hover);
  }

  .buttonReject:active {
    transform: translateY(-1px);
  }

  .buttonAccept:focus,
  .buttonAccept:hover {
    background-color: var(--accept-button-hover);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
  }

  .buttonAccept:focus-visible {
    outline: 3px dotted var(--accept-button-hover);
  }

  .buttonAccept:active {
    transform: translateY(-1px);
  }

  .link:focus,
  .link:hover {
    opacity: 0.6;
  }

  .link:focus-visible {
    outline: 3px dotted var(--background-shape-left);
  }

  .link:active {
    opacity: 0.3;
  }
}

@media (hover: none) {
  .buttonReject:active {
    background-color: var(--reject-button-hover);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
  }

  .buttonAccept:active {
    background-color: var(--accept-button-hover);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
  }

  .link:active {
    opacity: 0.6;
  }
}