.abstractShape {
  position: absolute;
  border-radius: 15rem;
  width: 55vw;
  height: 35vh;
  filter: blur(100px);
  z-index: -100;
}

.shape1 {
  background-color: var(--background_shape_left);
  transform: rotate(10deg);
  bottom: -6rem;
}

.shape2 {
  background-color: var(--background_shape_center);
  transform: rotate(77deg);
  bottom: 5rem;
  left: 25%;
}

.shape3 {
  background-color: var(--background_shape_right);
  transform: rotate(165deg);
  right: -10%;
  bottom: 0;
}
