.abstractShape {
  position: absolute;
  border-radius: 15rem;
  width: 55vw;
  height: 35vh;
  filter: blur(100px);
  z-index: -100;
}

.shape1 {
  background-color: var(--background_shape_left);
  transform: rotate(10deg);
  bottom: -6rem;

  animation: moveShape1 10s infinite alternate;
}

.shape2 {
  background-color: var(--background_shape_center);
  transform: rotate(77deg);
  bottom: 5rem;
  left: 25%;

  /* animation: moveShape2 10s infinite alternate; */
}

.shape3 {
  background-color: var(--background_shape_right);
  transform: rotate(165deg);
  right: -10%;
  bottom: 0;

  /* animation: moveShape3 10s infinite alternate; */
}

@keyframes moveShape1 {
  0% {
    transform: translate(0, 0), rotate(10deg);
  }
  50% {
    transform: translate(300px, -200px);
  }
  100% {
    transform: translate(200px, 200px);
  }
}

@keyframes moveShape2 {
  0% {
    transform: translate(0, 0), rotate(77deg);
  }
  50% {
    transform: translate(100px, 100px);
  }
  100% {
    transform: translate(200px, -100px);
  }
}

@keyframes moveShape3 {
  0% {
    transform: translate(0, 0), rotate(165deg);
  }
  50% {
    transform: translate(100px, 100px);
  }
  100% {
    transform: translate(200px, -100px);
  }
}