.btn {
  background-color: rgba(0, 0, 0, 0);
  color: var(--main_text);
  border: none;

  cursor: pointer;
  transition: background-color 0.25s, color 0.25s, box-shadow 0.25s, border 0.25s;
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--main_text);
    color: var(--background);
    border: 1px solid var(--main_text);
  }

  .btn:active {
    box-shadow: 0 3px 15px 0 var(--default_shadow);
  }
}

@media (hover: none) {
  .btn:active {
    background-color: var(--main_text);
    color: var(--background);
    border: 1px solid var(--main_text);
  }
}