.tabButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(13px, 1.1vw, 15px);
  padding: clamp(2px, 0.3vh, 5px) clamp(5px, 0.5vw, 10px);
  min-width: clamp(30px, 3vw, 40px);

  
  border-radius: 100px;
  color: var(--gray-text-color);
  background: var(--gray-button-color);

  transition:
    background-color var(--base-transition-duration) ease-in-out,
    transform var(--base-transition-duration) ease-in-out,
    color var(--base-transition-duration) ease-in-out;
}

@media (hover: hover) {
  .tabButton:focus,
  .tabButton:hover {
    transform: translateY(-0.15vh);
    color: var(--gray-button-color);
    background-color: var(--gray-text-color);
  }

  .tabButton:focus-visible {
    outline: 2px dotted var(--gray-text-color);
  }

  .tabButton:active {
    transform: translateY(0.1vh);
  }
}

@media (hover: none) {
  .tabButton:active {
    transform: translateY(-0.15vh);
    color: var(--gray-button-color);
    background-color: var(--gray-text-color);
  }
}